<!DOCTYPE>
<html>
{% load static %}
<head>
<title> Login page </title>
</head>
<body style="background-color:skyblue" ><form class="login" method="POST" action="home">
    {% csrf_token %}
<h1 align="center" style="background-color:lightgreen" > WELCOME TO NOVHOTEL </h1>
<table width="100%" border="0" bgcolor="lavender" >
<tr>
<th > About us </th>
</tr>
</table><br>
<img src="https://bk.asia-city.com/sites/default/files/u577/point_yamu_by_como_0.jpg"  align="right" width="50%" height="250"><br>
<br><p> <h3><b><i>Book a Stay at Welcome Hôtel, NOVHOTEL. Price Guarantee. By Your Side from Book to Stay. Price Guarantee. 24h Customer Support when You Need it<br> </b></h3></p><br>
<br>
<a href="home"> <mark>Click here to book a Room in NOVHOTEL</mark></a>
<br>
<table width="100%" border="0" bgcolor="lavender" >
<tr>
<th > *** </th>
</tr>
</table>
<br>
<p align="left"><b> 5 Star Hotel.</b></p>
___________________________________________________________________________________________________________________________________
<font color="red">
   <h3> <p align="center"><b>Contact us:</b><br>
 E-mail: Novhotel@gmail.com<br>
       <br>
Contact number:  (+91) 77890977997 <br>
       <br>
Address: <br> <br>Rd.no: 6 <br>
       <br>
gandhi street,<br>
       <br>Hyderabad. (500424) </p></h3>
    </font>
_______________________________________________________________________________________________________________________________________
<br>
</form>
</body>
</html>
